<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Tự động đọc</h1>
<div>
    <p style="margin-top: 5px; margin-bottom: 5px; margin-left: 5px; font-size: 12px;">Chọn file upload.txt chứ nội dung
        tiếng Việt muốn nghe</p>
    <input type="file" id="text_file" multiple>
    <div style="margin-top: 10px">
        <textarea style="width: 100%; padding: 5px; outline: none;" rows="5" id="text_textarea"></textarea>
        <button id="text_textarea_btn" disabled>OK</button>
    </div>
</div>
<div style="padding: 10px 0;">
    <!-- <button id="stop">Stop</button> -->
    <button id="playPause">Play/Pause</button>
    <button id="next">Next</button>
</div>

<h3>Ready to read</h3>
<div id="output"></div>

<h3>Queues</h3>
<div id="queue"></div>

<script>
    const RunAudio = function (params) {
        this.queue_texts = []
        this.base64_items = []
        this.media = null
        this.loading = false
        this.outputEl = null
        this.queueEl = null

        this.run = () => {
            if (params) {
                // if (params.stopEl) {
                //     this.add_event_stop(params.stopEl)
                // }
                if (params.playPauseEl) {
                    this.add_event_play_pause(params.playPauseEl);
                }
                if (params.nextEl) {
                    this.add_event_next(params.nextEl);
                }
                if (params.outputEl) {
                    this.outputEl = params.outputEl;
                }
                if (params.queueEl) {
                    this.queueEl = params.queueEl;
                }
            }
            this.load_base64_items();
            this.load_queue_texts();
            setInterval(() => {
                if (this.base64_items.length < 3) {
                    if (this.has() && !this.loading) {
                        let text = this.shift_queue();
                        if (text?.match(/[a-zA-Z0-9]+/)) {
                            this.loading = true
                            this.text_to_speech(text)
                                .then(res => {
                                    this.base64_items.push(res);
                                    this.loading = false;
                                    this.render_base64_items();
                                    this.save_base64_items();
                                })
                        }
                    }
                }
                if (!this.media) {
                    if (this.base64_items.length > 0) {
                        let base64_item = this.base64_items[0];
                        this.media = new Audio("data:audio/wav;base64," + base64_item.base64);
                        this.media.onended = () => {
                            this.base64_items.shift();
                            this.render_base64_items();
                            this.save_base64_items();
                            this.media = null;
                        }
                        this.media.play();
                    }
                }
            }, 500)
        }
        this.render_queue = () => {
            if (this.queueEl) {
                let queues = this.queue_texts;
                let texts = [];
                queues.forEach(text => {
                    texts.push('<p>' + text + '</p>');
                })
                this.queueEl.innerHTML = texts.join('');
            }
        }
        this.add = (text) => {
            this.queue_texts.push(text);
            this.render_queue();
            this.save_queue_texts();
        }
        this.shift_queue = () => {
            let text = this.queue_texts.shift();
            this.render_queue();
            this.save_queue_texts();
            return text;
        }
        this.save_queue_texts = () => {
            window.localStorage.setItem('__queue_texts__', JSON.stringify(this.queue_texts));
        }
        this.load_queue_texts = () => {
            try {
                const queue_texts = JSON.parse(window.localStorage.getItem('__queue_texts__'));
                if (Array.isArray(queue_texts)) {
                    this.queue_texts = queue_texts;
                }
            } catch (e) {
                console.error(e);
            }
        }
        this.save_base64_items = () => {
            window.localStorage.setItem('__base64_items__', JSON.stringify(this.base64_items));
        }
        this.load_base64_items = () => {
            try {
                const base64_items = JSON.parse(window.localStorage.getItem('__base64_items__'));
                if (Array.isArray(base64_items)) {
                    this.base64_items = base64_items;
                }
            } catch (e) {
                console.error(e);
            }
        }
        this.has = () => {
            return this.queue_texts.length > 0
        }
        this.text_to_speech = (text) => {
            return sendHttp('POST', '/text-to-speech', {
                'Content-Type': 'application/json'
            }, {
                text: text
            })
        }
        this.render_base64_items = () => {
            if (this.outputEl) {
                let texts = [];
                this.base64_items.forEach(({ text }) => {
                    texts.push('<p>' + text + '</p>');
                })
                this.outputEl.innerHTML = texts.join('')
            }
        }
        this.add_event_stop = (ele) => {
            ele.addEventListener('click', () => {
                if (this.media) {
                    this.media.pause();
                }
            })
        }
        this.add_event_play_pause = (ele) => {
            ele.addEventListener('click', () => {
                if (this.media) {
                    if (this.media.paused) {
                        this.media.play();
                    } else {
                        this.media.pause();
                    }
                }
            })
        }
        this.add_event_next = (ele) => {
            ele.addEventListener('click', () => {
                if (this.media) {
                    this.media.currentTime = this.media.duration;
                    if (this.media.paused) {
                        this.media.play();
                    }
                }
            })
        }
    }

    var runAudio = new RunAudio({
        stopEl: document.getElementById('stop'),
        playPauseEl: document.getElementById('playPause'),
        nextEl: document.getElementById('next'),
        outputEl: document.getElementById('output'),
        queueEl: document.getElementById('queue'),
    })

    runAudio.run()

    const runAddFiles = (files) => {
        let file = files.shift()
        readTextFile(file)
            .then(content => {
                processText(content);
                if (files.length > 0) {
                    runAddFiles(files)
                }
            })
    }

    const processText = (text) => {
        let blocks = text.split("\n").filter((b) => typeof b == 'string' && b.trim())
        blocks.forEach((block, i) => {
            runAudio.add(block)
        })
    }

    document.getElementById('text_file').addEventListener('change', (e) => {
        let files = [...e.target.files]
        e.target.value = ''
        runAddFiles(files)
    })

    document.getElementById('text_textarea').addEventListener('input', (e) => {
        if (e.target.value) {
            document.getElementById('text_textarea_btn').removeAttribute('disabled')
        } else {
            document.getElementById('text_textarea_btn').setAttribute('disabled', '')
        }
    })

    document.getElementById('text_textarea_btn').addEventListener('click', (e) => {
        let el = document.getElementById('text_textarea')
        processText(el.value)
        el.value = ""
        document.getElementById('text_textarea_btn').setAttribute('disabled', '')
    })

    const readTextFile = (file) => {
        return new Promise((resolve, reject) => {
            let fr = new FileReader()
            fr.onload = () => {
                resolve(fr.result)
            }
            fr.readAsText(file)
        })
    }

    const sendHttp = (method, url, headers, body) => {
        return new Promise((resolve, reject) => {
            method = method || 'GET'
            let xhttp = new XMLHttpRequest()
            let isJson = false
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    let data = xhttp.getResponseHeader('Content-Type').search('application/json') !== -1 ? JSON.parse(xhttp.responseText) : xhttp.responseText
                    resolve(data)
                }
            }
            xhttp.open(method, url, true)
            if (headers instanceof Object) {
                for (let name in headers) {
                    xhttp.setRequestHeader(name, headers[name])
                }
            }
            xhttp.send(body ? JSON.stringify(body) : undefined)
        })
    }
</script>
{% endblock content %}