<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 style="user-select: none;-webkit-user-select:none;text-align: center;margin: 10px 0;">Tự động đọc</h1>
<div style="user-select: none;-webkit-user-select:none;">
    <p style="margin-top: 5px; margin-bottom: 5px; margin-left: 5px; font-size: 12px;">
        Chọn file upload.txt chứ nội dung tiếng Việt muốn nghe
    </p>
    <input type="file" id="text_file" multiple>
    <div style="margin-top: 10px;">
        <textarea
            style="width: 100%; padding: 5px; outline: none; max-width: 100%;margin-bottom: 5px;border-radius: 10px;"
            rows="6" id="text_textarea"></textarea>
        <div style="display: flex;gap: 10px;">
            <button class="btn btn-enter" id="text_textarea_btn" disabled>
                <img src="{% static 'check.png' %}" alt="Ok">
            </button>
            <button class="btn btn-remove" id="remove_all">
                <img src="{% static 'remove.png' %}" alt="Remove all">
            </button>
        </div>
    </div>
</div>
<div style="padding: 10px 0;display: flex; gap: 10px;user-select: none;-webkit-user-select:none;">
    <!-- <button id="stop">Stop</button> -->
    <button class="btn play" id="playPause">
        <img class="play-img" src="{% static 'play.png' %}" alt="Play">
        <img class="pause-img" src="{% static 'pause.png' %}" alt="Pause">
    </button>
    <button class="btn btn-next" id="next">
        <img src="{% static 'end.png' %}" alt="Next">
    </button>
</div>

<h3 style="user-select: none;-webkit-user-select:none;">Ready to read</h3>
<div id="output" style="text-align: justify; color: #41934c;"></div>

<h3 style="user-select: none;-webkit-user-select:none;">Queues</h3>
<div id="queue" style="text-align: justify;"></div>

<style>
    .btn.play img.play-img {
        display: block;
    }

    .btn.play img.pause-img {
        display: none;
    }

    .btn.pause img.pause-img {
        display: block;
    }

    .btn.pause img.play-img {
        display: none;
    }
</style>
<script>
    const RunAudio = function (params) {
        this.queue_texts = [];
        this.base64_items = [];
        this.media = null;
        this.loading = false;
        this.outputEl = null;
        this.queueEl = null;
        this.loading_text = null;

        this.run = () => {
            if (params) {
                // if (params.stopEl) {
                //     this.add_event_stop(params.stopEl)
                // }
                if (params.playPauseEl) {
                    this.add_event_play_pause(params.playPauseEl);
                }
                if (params.nextEl) {
                    this.add_event_next(params.nextEl);
                }
                if (params.removeAllEl) {
                    this.add_event_remove_all(params.removeAllEl);
                }
                if (params.outputEl) {
                    this.outputEl = params.outputEl;
                }
                if (params.queueEl) {
                    this.queueEl = params.queueEl;
                }
            }
            this.load_base64_items();
            this.load_queue_texts();
            setInterval(() => {
                if (this.base64_items.length < 3) {
                    if (this.has() && !this.loading) {
                        let text = this.shift_queue();
                        if (text?.match(/[a-zA-Z0-9]+/)) {
                            this.loading_text = text;
                            this.render_base64_items();
                            this.save_queue_texts(text);
                            this.loading = true;
                            this.text_to_speech(text)
                                .then(res => {
                                    this.base64_items.push(res);
                                    this.loading = false;
                                    this.loading_text = null;
                                    this.render_base64_items();
                                    this.save_base64_items();
                                    this.save_queue_texts();
                                })
                                .catch((err) => {
                                    this.loading_text = null;
                                    console.error(err);
                                })
                        }
                    }
                }
                if (!this.media) {
                    if (this.base64_items.length > 0) {
                        let base64_item = this.base64_items[0];
                        this.media = new Audio("data:audio/wav;base64," + base64_item.base64);
                        this.media.onplay = () => {
                            params.playPauseEl.classList.remove('play');
                            params.playPauseEl.classList.add('pause');
                        }
                        this.media.onpause = () => {
                            params.playPauseEl.classList.remove('pause');
                            params.playPauseEl.classList.add('play');
                        }
                        this.media.onended = () => {
                            this.base64_items.shift();
                            this.render_base64_items();
                            this.save_base64_items();
                            this.media = null;
                        }
                        this.media.play();
                    }
                }
            }, 500)
        }
        this.render_queue = () => {
            if (this.queueEl) {
                let queues = this.queue_texts;
                let texts = [];
                queues.forEach(text => {
                    const _text = typeof text === 'string' ? text.trim() : "";
                    texts.push('<p>' + _text + '</p>');
                })
                this.queueEl.innerHTML = texts.join('');
            }
        }
        this.add = (text) => {
            this.queue_texts.push(text);
            this.render_queue();
            this.save_queue_texts();
        }
        this.shift_queue = () => {
            let text = this.queue_texts.shift();
            this.render_queue();
            this.save_queue_texts();
            return text;
        }
        this.save_queue_texts = (text) => {
            const queue_texts = (text ? [text] : []).concat(this.queue_texts);
            window.localStorage.setItem('__queue_texts__', JSON.stringify(queue_texts));
        }
        this.load_queue_texts = () => {
            try {
                const queue_texts = JSON.parse(window.localStorage.getItem('__queue_texts__'));
                if (Array.isArray(queue_texts)) {
                    this.queue_texts = queue_texts;
                    this.render_queue();
                }
            } catch (e) {
                console.error(e);
            }
        }
        this.save_base64_items = () => {
            window.localStorage.setItem('__base64_items__', JSON.stringify(this.base64_items));
        }
        this.load_base64_items = () => {
            try {
                const base64_items = JSON.parse(window.localStorage.getItem('__base64_items__'));
                if (Array.isArray(base64_items)) {
                    this.base64_items = base64_items;
                    this.render_base64_items();
                }
            } catch (e) {
                console.error(e);
            }
        }
        this.has = () => {
            return this.queue_texts.length > 0
        }
        this.text_to_speech = (text) => {
            return sendHttp('POST', '/text-to-speech', {
                'Content-Type': 'application/json'
            }, {
                text: text
            })
        }
        this.render_base64_items = () => {
            if (this.outputEl) {
                let texts = [];
                this.base64_items.forEach(({ text }) => {
                    const _text = typeof text === 'string' ? text.trim() : "";
                    texts.push('<p>' + _text + '</p>');
                })
                if (this.loading_text) {
                    const text = this.loading_text;
                    const _text = typeof text === 'string' ? text.trim() : "";
                    texts.push('<p style="color: #cacaca;">' + _text + '</p>');
                }
                this.outputEl.innerHTML = texts.join('');
            }
        }
        this.add_event_stop = (ele) => {
            ele.addEventListener('click', () => {
                if (this.media) {
                    this.media.pause();
                }
            })
        }
        this.add_event_play_pause = (ele) => {
            ele.addEventListener('click', () => {
                if (this.media) {
                    if (this.media.paused) {
                        this.media.play();
                    } else {
                        this.media.pause();
                    }
                }
            })
            window.addEventListener('keydown', (e) => {
                if (e.target.tagName != "TEXTAREA" && e.code == "Space") {
                    e.preventDefault();
                    if (this.media) {
                        if (this.media.paused) {
                            this.media.play();
                        } else {
                            this.media.pause();
                        }
                    }
                }
            })
        }
        this.add_event_next = (ele) => {
            ele.addEventListener('click', () => {
                if (this.media) {
                    this.media.currentTime = this.media.duration;
                    if (this.media.paused) {
                        this.media.play();
                    }
                }
            })
        }
        this.add_event_remove_all = (ele) => {
            ele.addEventListener('click', () => {
                if (this.media) {
                    if (!this.media.paused) {
                        this.media.pause();
                    }
                    this.media = null;
                }
                this.queue_texts = [];
                this.base64_items = [];
                this.save_base64_items();
                this.save_queue_texts();
                this.render_base64_items();
                this.render_queue();
            })
        }
    }

    var runAudio = new RunAudio({
        stopEl: document.getElementById('stop'),
        playPauseEl: document.getElementById('playPause'),
        nextEl: document.getElementById('next'),
        removeAllEl: document.getElementById('remove_all'),
        outputEl: document.getElementById('output'),
        queueEl: document.getElementById('queue'),
    })

    runAudio.run()

    const runAddFiles = (files) => {
        let file = files.shift()
        readTextFile(file)
            .then(content => {
                processText(content);
                if (files.length > 0) {
                    runAddFiles(files)
                }
            })
    }

    const processText = (text) => {
        let blocks = text.split("\n").filter((b) => typeof b == 'string' && b.trim())
        blocks.forEach((block, i) => {
            runAudio.add(block)
        })
    }

    document.getElementById('text_file').addEventListener('change', (e) => {
        let files = [...e.target.files]
        e.target.value = ''
        runAddFiles(files)
    })

    document.getElementById('text_textarea').addEventListener('input', (e) => {
        if (e.target.value) {
            document.getElementById('text_textarea_btn').removeAttribute('disabled')
        } else {
            document.getElementById('text_textarea_btn').setAttribute('disabled', '')
        }
    })

    document.getElementById('text_textarea_btn').addEventListener('click', (e) => {
        let el = document.getElementById('text_textarea')
        processText(el.value)
        el.value = ""
        document.getElementById('text_textarea_btn').setAttribute('disabled', '')
    })

    const readTextFile = (file) => {
        return new Promise((resolve, reject) => {
            let fr = new FileReader()
            fr.onload = () => {
                resolve(fr.result)
            }
            fr.readAsText(file)
        })
    }

    const sendHttp = (method, url, headers, body) => {
        return new Promise((resolve, reject) => {
            method = method || 'GET'
            let xhttp = new XMLHttpRequest()
            let isJson = false
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    let data = xhttp.getResponseHeader('Content-Type').search('application/json') !== -1 ? JSON.parse(xhttp.responseText) : xhttp.responseText
                    resolve(data)
                }
            }
            xhttp.open(method, url, true)
            if (headers instanceof Object) {
                for (let name in headers) {
                    xhttp.setRequestHeader(name, headers[name])
                }
            }
            xhttp.send(body ? JSON.stringify(body) : undefined)
        })
    }
</script>
{% endblock content %}